---
import type { CollectionEntry } from "astro:content";

import { commentConfig } from "@/config";
import { removeFileExtension } from "@/utils/url-utils";

import Giscus from "./Giscus.astro";
import Twikoo from "./Twikoo.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { id, data } = Astro.props.post;

const slug = removeFileExtension(id);
const path = `/posts/${slug}`;

const commentService = commentConfig?.system ?? "twikoo";

const commentEnabled = data.comment ?? true;
---
{commentConfig?.enable && commentEnabled && (
  <div class="card-base p-6 mb-4">
    {commentService === 'twikoo' && commentConfig.twikoo && <Twikoo path={path} />}
    {commentService === 'giscus' && commentConfig.giscus && <Giscus path={path} />}
  </div>
)}
